<app-header></app-header>

<div class="container cart-page" style="min-height: 90vh; margin-top: 2.5rem;">

  
    


    <div *ngIf="wlLength < 1">
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="d-flex flex-column justify-content-center my-4" style="min-height: 60vh;">
                    <h5 class="text-center"> You don't have any items in wish list </h5>
                    <div class="text-center">
                        <a routerLink="/" class="btn btn-sm btn-primary">Go To Shopping Page</a>
                    </div> <!-- End  -->
                </div> <!-- End  -->
            </div> <!-- End col 12 -->
        </div> <!-- End row -->
    </div> <!-- End  -->

    <div *ngIf="wlLength > 0">
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="d-flex justify-content-center">
                    <h2 class="cart-text">Wish List</h2>
                </div>  <!-- End block -->
            </div> <!-- End  -->
    
            <div class="col-sm-12 col-12">
                <div class="text-center">
                    <h5> You have {{ wlLength }} Items in your wish list. </h5>
                </div>  <!-- End  -->



            </div> <!-- End col 12 -->
        </div> <!-- End row -->

        <div *ngFor="let object of wishlist; let i = index;">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="item-specific d-flex justify-content-between">
                       
        
                        <div class="d-flex">
                            <div class="mr-2" style="max-height: 90px; overflow: hidden;">
                                <img [src]="object.images" class="border" style="max-width: 110px;">
                            </div>
                            <div class="f-14">
                                <span class="d-block text-muted">
                                    #{{ object._id }}
                                </span>  <!-- End span -->
                                <span class="f-18 f-b">
                                    {{ object["label"] }}
                                </span>
                            </div>  <!-- End Item Number -->
                        </div>  <!-- End Item info -->


                        <div>
                           

                            <span class="mx-4">
                                 <span class="f-b">
                                    {{ object["price"] }} 
                                  </span>        
                                {{ object["currency"] }} 
                            </span>
                        </div>


                        <div>
                            <div class="cartSection removeWrap">
                                <span (click)="removeObject(object, i)" class="remove" >x</span>
                             </div>
                        </div>
                    </div> <!-- End Item Details -->
               </div>  <!-- End col -->   
            </div>  <!-- End  row -->   
        </div> <!-- End loop -->

    </div> <!-- End ngIf -->
</div> <!-- End container -->
<app-footer></app-footer>

