<app-header></app-header>

<div class="container" style="min-height: 90vh; margin-top: 2.5rem;">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="d-flex justify-content-center">
                        

                        <div class="" style="max-width: 300px; margin-top: 4rem;">
							<span style="font-size: 6rem; color: #ababab;">
								404
							</span>
                        </div>  <!-- End card -->
                      


                       
                    </div> <!-- End Item Details -->
               </div>  <!-- End col -->   
            </div>  <!-- End  row -->   
</div> <!-- End container -->
<app-footer></app-footer>

